.services__container-title{
    margin-bottom: 10px;
    text-align: center;
}
.services__container-title h2{
   
    color: #0abde3;
    text-transform: uppercase;
    border-bottom: 2px solid #2980b9;
    width: max-content;
}