.card{
    min-height: 550px;
}

.card-img-top{
    border: 2px dotted #0abde3;
    border-radius: 4px;
    height: 300px;
}

.card-body{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position: relative;
}

.card-title{
    color: #0abde3;
}

.card-price{
    font-weight: bold;
}

.card-text{
    text-align: justify;
    font-size: 14px;
}

.service__btn{
    width: 100%;
    background-color: #0abde3;
    border-color: #0abde3;
    position: absolute;
    bottom: 0;
    left: 0;
}

.service__btn:hover{
    background-color: #2980b9;
    border-color: #2980b9;
}